@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Anton&family=Raleway&family=Rubik&display=swap");
:root {
  --cl-primary: #38a3a5c2;
  --cl-secondary: #055160;
  --cl-primary-white: #f1f5f8;
  --cl-secondary-white: #ffffff;
  --cl-primary-green: #198754;
  --cl-secondary-green: #198754bf;
  --cl-primary-dark: #000000;
  --cl-border-color: #dadadf;
  --cl-secondary-purple: #5416f1d1;
  --cl-primary-blue: #00056a;

  --rubik-font: "Rubik", sans-serif;
  --alkatra-font: "Alkatra", cursive;
  --raleway-font: "Raleway", sans-serif;
  --anton-font: "Anton", sans-serif;
}

body {
  background-color: var(--cl-primary-white);
  color: var(--cl-primary-dark);
  font-family: var(--rubik-font);
}

.navbar-bg {
  background-color: var(--cl-secondary-white);
  border-bottom: 1px solid var(--cl-border-color);
}

.navbar-nav .nav-item {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 100%;
  background-color: var(--cl-primary-white);
  border-radius: 5px;
}

.nav-burgur-icon {
  background-color: var(--cl-secondary);
}

.logo-image {
  height: 84px;
  width: 90px;
}

@media (max-width: 992px) {
  .logo-image {
    height: 56px;
    width: 60px;
  }
}

@media (max-width: 992px) {
  .navbar-nav .nav-item {
    margin-top: 5px;
  }
}

.navbar-nav .nav-item .fa-solid {
  font-size: 130%;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: var(--cl-border-color);
  color: var(--cl-secondary);
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  border-radius: 2px;
}

.activeLinks {
  background-color: var(--cl-secondary);
  color: var(--cl-secondary-white);
  display: block;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  border-radius: 2px;
}

.activeLinks:hover {
  color: var(--cl-border-color);
}

.main-pages {
  margin-top: 30px;
  margin-bottom: 30px;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

/* Home page */

.radio-azaan {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.home-page-header-container h3,
.home-page-header-container h4 {
  font-size: 170%;
  font-family: var(--alkatra-font);
}

.home-page-header-container h3 u,
.home-page-header-container h4 u {
  text-decoration-color: var(--cl-primary-green);
}

.home-page-header-container a {
  background-color: var(--cl-primary-blue);
  color: var(--cl-secondary-white);
}

.home-page-header-container a:hover {
  background-color: var(--cl-secondary);
  color: var(--cl-primary-white);
}

.image-carousel {
  float: left;
  width: 300px;
  height: 300px;
  object-fit: cover;
  opacity: 0.9;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: var(--cl-secondary-white);
  background-color: var(--cl-primary);
  border-radius: 30%;
  padding: 20px;
}

.our-community-paragraph {
  font-family: var(--alkatra-font);
}

.mosque-team-member-images {
  width: 200px;
  height: 200px;
  object-fit: cover;
  float: lef;
}

.meet-the-team-header {
  font-family: var(--raleway-font);
  color: var(--cl-primary-blue);
}

/* About Page */

.about-us-header-text {
  font-family: var(--raleway-font);
  color: var(--cl-primary-blue);
  font-weight: bolder;
  text-shadow: 2px 2px var(--cl-primary);
}

.about-page-header-image {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.about-us-section-header-heros {
  font-family: var(--anton-font);
  text-align: center;
  color: var(--cl-secondary);
}

.brief-history {
  margin-top: 40px;
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 0 0 0 40%;
}

.new-mosque-project {
  margin-top: 40px;
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 0 0 40% 0;
}

@media (max-width: 992px) {
  .about-page-header-image {
    height: auto;
    width: auto;
  }
}
/* footer section */

.footer-bg {
  border-top: 1px solid var(--cl-border-color);
  background-image: linear-gradient(#38a3a559, rgb(0 0 0 / 78%)),
    url("https://res.cloudinary.com/dyqykmbvz/image/upload/v1679337440/static/images/footer-image.90ce1d3c5676.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-bg h4 {
  color: #ffc107;
}

.fa-home,
.fa-envelope,
.fa-phone {
  text-align: right;
}

.copyright-bg {
  background-color: #38a3a5c2;
}
