{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-12 mt-2">
            <img class="img-fluid about-page-header-image" src="{% static 'images/about-page-image.jpg' %}" alt="">
        </div>
        <div class="col-12 text-center text-md-start">
            <h1 class="about-us-header-text mt-3">About Us</h1>
        </div>
    </div>

    <div class="row mt-3">
        <div class="d-none d-md-block col-md-6">
            <h1>Some image</h1>
        </div>
        <div class="col col-md-6">
            <div>
                <h4>Brief History</h4>
                <p>There were possibly little over few dozen Muslims living in Leeds in 1953. The First Mosque (Jinnah
                    Mosque):</p>

                <p>The Muslims in Leeds realised that they had to get together; especially on Friday Prayer; Eid and
                    other
                    religious functions. In order to meet this requirement, the building at 21 Leopold Street was bought
                    on
                    26 June 1958 to convert it into Mosque. This remained a focal point for the Muslims in Leeds for
                    many
                    years.</p>

                <p>In the sixties and early seventies, the pace of migration became rapid from the Commonwealth
                    countries
                    such as India, Pakistan, etc. The Jinnah Mosque became too small to cater for the needs of the
                    growing
                    Muslim community so in 1974 a new and large building was bought at 48 Spencer Place Leeds 7.
                    It was about the same time that the Leeds Islamic Centre was formed to cater the needs of all
                    Muslims
                    in
                    Leeds.</p>

                <p>Under the management of Leeds Islamic Centre; the social, educational, and religious needs were
                    catered
                    for many years. But as the families were arriving and Muslim population was well on increase, there
                    was
                    a need for bigger premises for the Mosque. In March 1982 the building next door was bought which
                    became
                    the main Mosque in Leeds. The demand for more space was felt for children's education and in view of
                    the
                    needs, 44 Spencer Place another large building was added to the Leeds Islamic Centre Complex.</p>

                <p>In early 1980's the Government and Leeds City Council gave us grant to build a sports hall at 48
                    Spencer
                    Place which has been well used for youth activities, weddings, meetings and conferences.</p>
            </div>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col col-md-6">
            <div>
                <h4>The New Mosque Project:</h4>
                <p>Leeds is growing city with a population of over one million. We are proud to say that Leeds is a real
                    metropolitan city. There are over thirty thousand Muslims living in Leeds. They have come from all
                    continents, majority of them from subcontinent and middle-east.</p>
                <p>
                    Many Muslims who are trading in Leeds, working in offices or studying in Leeds Universities come to
                    Leeds Islamic Centre for Friday Prayer; the number of Prayers coming to our Central Jamia Mosque had
                    increased despite large buildings belonging to Leeds Islamic Centre Complex. We decided to build a
                    new Mosque for larger capacity. With grace of Allah swt this project was completed in 2001.
                </p>
                <p>
                    <strong>
                        Leeds Islamic Centre is looking forward to serve the needs of Muslim community in Leeds. The
                        suggestions to improve our services are invited. Please
                        <a href="mailto:info@leedsic.com" target="_blank">email</a> your
                        suggestions. Thank you for
                        your co-operation.
                    </strong>
                </p>
            </div>
        </div>
        <div class="d-none d-md-block col-md-6">
            <h1>Some Image</h1>
        </div>
    </div>
</div>

{% endblock %}