{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="leeds, islamic center, mosque, funeral" />
    <meta name="description" content="LEEDS ISLAMIC CENTRE
    Central Jamia Mosque" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- bootstrap version 5.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- external css file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- Site title -->
    <title>Leeds Islamic Center</title>
</head>

<!-- bootstrap class sticks footer at the bottom -->

<body class="d-flex flex-column min-vh-100 gy-0">
    <header>
        <div class="container-fluid bg-success text-white">
            <div class="row">
                <div class="col-12">

                    <!-- Navbar -->
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="container-fluid">
                            <a href="{% url 'home' %}" class="navbar-brand fs-4"><i
                                    class="fa-solid fa-mosque text-white"></i></a>
                            <button class="navbar-toggler fs-6 bg-light btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                                <hr style="height: 5px; color: white;">
                                <ul class="navbar-nav text-center">
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Contact</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Prayers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Ramadhan</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Eid-fitr</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Eid-adha</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Funeral</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Media</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Press</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Madrasa</a>
                                    </li>
                                    <li class="nav-item d-none d-lg-block">
                                        <a href="#" class="btn btn-warning text-white">DONATION FOR MOSQUE</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <!-- site footer -->
    <footer class="text-center text-lg-start text-muted mt-auto" style="background-color:#f1f5f8;">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.twitter.com/" target="_blank">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <p>
                            LEEDS ISLAMIC CENTRE
                            Central Jamia Mosque
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <p>
                            <a href="#!" class="text-reset">Home</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">About</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Contact</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Prayers</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Ramadhan</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Eid-fitr</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <p>
                            <a href="#!" class="text-reset">Eid-adha</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Media</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Press</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Madrasa</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Funeral</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <p><i class="fas fa-home me-3 text-secondary"></i> 46
                            Spencer Pl, Leeds LS7 4BR</p>
                        <p>
                            <i class="fas fa-envelope me-3 text-secondary"></i>
                            info@example.com
                        </p>
                        <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
            © <span class="current-year"></span> Copyright: Leeds Islamic Center - Created by Hashim Aslam
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

    <!-- javascript file -->
    <script>
        $(document).ready(() => {
            const date = new Date()
            const currentYear = date.getFullYear()
            $('.current-year').html(currentYear)
        })
    </script>
</body>

</html>