{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="leeds, islamic center, mosque, funeral" />
    <meta name="description" content="LEEDS ISLAMIC CENTRE
    Central Jamia Mosque" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- bootstrap version 5.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- external css file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- Site title -->
    <title>Leeds Islamic Center</title>
</head>

<!-- bootstrap class sticks footer at the bottom -->

<body class="d-flex flex-column min-vh-100 gy-0">
    <header>
        <div class="container-fluid navbar-bg text-white">
            <div class="row">
                <div class="col-12">

                    <!-- Navbar -->
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="container-fluid">
                            <a href="{% url 'home' %}" class="navbar-brand fs-4">
                                <img class="img-fluid logo-image" src="{% static 'images/mosque-logo.png' %}"
                                    alt="mosque logo">
                            </a>
                            <button class="navbar-toggler fs-6 bg-light btn nav-burgur-icon" type="button"
                                data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                                <hr style="height: 5px; color: white;">
                                <ul class="navbar-nav text-center">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'home' %}"><i class="fa-solid fa-house"></i>
                                            Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'about' %}"><i
                                                class="fa-solid fa-circle-info"></i> About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'contact' %}"><i
                                                class="fa-solid fa-square-phone"></i> Contact</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-person-praying"></i> Prayers
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Monthly Prayer Timetable</a>
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Ramadhan</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Eid-fitr</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Eid-adha</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-hand-holding-hand"></i>
                                            Services
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Funeral</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Service two</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Service three</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fa-solid fa-microphone"></i> Media</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fa-solid fa-graduation-cap"></i>
                                            Madrasa</a>
                                    </li>
                                    <li class="nav-item d-none d-lg-block">
                                        <a href="#" class="btn btn-warning text-white pb-2">DONATION FOR MOSQUE</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <main class="main-pages">
        {% block content %}

        {% endblock %}
    </main>

    <!-- site footer -->
    <footer class="text-center text-lg-start mt-auto footer-bg text-light">

        <section>
            <div class="container text-center text-md-start mt-5">

                <!-- Donate now -->
                <div class="row mt-3 text-center">
                    <div class="col-md-4 mx-auto mb-4 ml-auto">
                        <h5 class="text-uppercase fw-bold ml-auto">Donate now
                        </h5>
                        <hr class="mb-3 mt-0 d-inline-block mx-auto w-50"
                            style="background-color: #3b5998; height: 2px">
                        <h6>Bank: <span class="text-warning">VIRGIN MONEY</span></h6>
                        <p>Account Name: <span class="text-warning">Leeds Islamic Centre</span></p>
                        <p>Account No: <span class="text-warning">10213039</span></p>
                        <p>Sort Code: <span class="text-warning">05-01-06</span></p>
                    </div>

                    <!-- Contact us -->
                    <div class="col-md-4 mx-auto mb-md-0 mb-4 ml-auto">
                        <h5 class="text-uppercase fw-bold ml-auto">Contact Us</h5>
                        <hr class="mb-3 mt-0 d-inline-block mx-auto w-50"
                            style="background-color: #3b5998; height: 2px">
                        <p><i class="fas fa-home me-2"></i>
                            <a href="https://goo.gl/maps/k4MZYft7Yqre5Hpr7" target="_blank" class="link-info">46
                                Spencer Pl, Leeds LS7 4BR</a>
                        </p>
                        <p>
                            <i class="fas fa-envelope me-2"></i>
                            <a href="mailto:info@leedsic.com" target="_blank" class="link-info">info@leedsic.com</a>
                        </p>
                        <p><i class="fas fa-phone me-2"></i> <a href="tel:01132621300" target="_blank"
                                class="link-info">0113 262 1300</a></p>

                    </div>

                    <!-- Social media -->
                    <div class="col-md-4 mx-auto mb-4 ml-auto">
                        <h5 class="text-uppercase fw-bold ml-auto">Social media</h5>
                        <hr class="mb-3 mt-0 d-inline-block mx-auto w-50"
                            style="background-color: #3b5998; height: 2px">
                        <p>
                            Follow us on these social media platfroms:
                        </p>
                        <p>
                            <a class="btn text-white btn-floating m-1" style="background-color: #55acee;"
                                href="https://twitter.com/leedsic?lang=en-GB" target="_blank" role="button"><i
                                    class="fa-brands fa-twitter"></i></a>
                            <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;"
                                href="https://www.facebook.com/LeedsIslamicCentre/" target="_blank" role="button"><i
                                    class="fa-brands fa-facebook-f"></i></a>
                        </p>
                    </div>
                </div>

            </div>
        </section>

        <!-- Copyright -->
        <div class="text-center p-4 copyright-bg">
            © <span class="current-year"></span> Copyright: Leeds Islamic Center - Created by Hashim Aslam
        </div>
    </footer>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

    <!-- javascript file -->
    <script>
        $(document).ready(() => {
            const date = new Date()
            const currentYear = date.getFullYear()
            $('.current-year').html(currentYear)

            const currentLocation = location.href
            const menuItem = document.querySelectorAll('.navbar-nav .nav-item .nav-link')
            const menuLength = menuItem.length
            console.log(menuLength)
            for (let i = 0; i < menuLength; i++) {
                if (menuItem[i].href === currentLocation) {
                    menuItem[i].className = 'activeLinks'
                }
            }
        })
    </script>
</body>

</html>