{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col">
            Image
        </div>
        <div class="col">
            <h3>Hello</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quod error dolores eius eos! Veritatis
                quam maiores esse incidunt ipsa maxime cupiditate. Quaerat rem quae similique amet voluptatum, obcaecati
                nihil laboriosam modi culpa, explicabo, ratione exercitationem optio? Blanditiis debitis quis
                voluptatibus corporis fuga labore fugit expedita, aut, adipisci laudantium provident est praesentium
                hic, excepturi deserunt alias architecto? Qui rerum ipsa corrupti perspiciatis ipsum harum vel expedita,
                quaerat ab, atque obcaecati ipsam asperiores voluptatum mollitia. Nihil numquam et alias incidunt
                placeat omnis cumque velit fugiat quisquam enim maxime rem totam ratione sed sit dolorem, rerum
                assumenda excepturi nesciunt quam. Eum, nisi!</p>
        </div>
    </div>
</div>

{% endblock %}