{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">

    <div class="row">
        <div class="col">
            <div class="radio-azaan alert alert-success alert-dismissible fade show text-danger" role="alert">
                <span>
                    <strong>Radio Azaan Frequency</strong> <i>454.40625</i>
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <div class="row home-page-header-container">
        <div class="col-12 col-md-7 d-flex flex-column justify-content-center align-items-center mb-3 mb-md-0">
            <h3><u>LEEDS ISLAMIC CENTRE</u></h3>
            <h4><u>Central Jamia Mosque</u></h4>
            <a href="#" class="btn pb-2">DONATION FOR MOSQUE</a>
        </div>
        <div class="col-12 col-md-5">
            <img src="https://res.cloudinary.com/dyqykmbvz/image/upload/v1678879549/static/images/minaret.fe93cb03dbf0.jpg"
                class="img-fluid px-0 d-none d-md-block d-lg-none w-75" alt="mosque minarat image">
            <img src="https://res.cloudinary.com/dyqykmbvz/image/upload/v1678879549/static/images/minaret.fe93cb03dbf0.jpg"
                class="img-fluid px-0 d-none d-lg-block w-50" alt="mosque minarat image">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 col-md-5 order-2 order-md-1">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>

                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-current="true" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                        aria-label="Slide 6"></button>

                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
                        aria-current="true" aria-label="Slide 7"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"
                        aria-label="Slide 8"></button>

                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/_mosque.jpeg' %}" class="image-carousel d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/ariel-view.jpg' %}" class="image-carousel d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/carPark-1.jpeg' %}" class="image-carousel d-block w-100" alt="...">
                    </div>


                    <div class="carousel-item">
                        <img src="{% static 'images/chandelier.jpg' %}" class="image-carousel d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/dome.jpg' %}" class="image-carousel d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/footer-image.jpg' %}" class="image-carousel d-block w-100"
                            alt="...">
                    </div>

                    <div class="carousel-item">
                        <img src="{% static 'images/mahrab2.jpg' %}" class="image-carousel d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/mahrab4.jpg' %}" class="image-carousel d-block w-100" alt="...">
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-12 col-md-7 order-1 order-md-2">
            <div class="mt-md-2 p-md-5">
                <h3 class="text-center text-md-start">Our Community</h3>
                <p class="our-community-paragraph"> We thank our amazing community for being the heart and backbone of who we are for the past 65 years.
                    We have
                    grown, but the heart of our mission has stayed the same: Our Community. We have been fortunate to
                    have been
                    part of this "togetherness" since 1958 and look forward to many more years of working together and
                    building
                    communities.</p>
                <a href="https://tanzil.net/#1:1" target="_blank" class="btn btn-info mb-2 mb-md-0"><i
                        class="fa-solid fa-book-open"></i> Read Quran</a>
            </div>
        </div>

    </div>

</div>

{% endblock %}