{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row home-page-header-container">
        <div class="col-12 col-md-7 d-flex flex-column justify-content-center align-items-center mb-3 mb-md-0">
            <h3><u>LEEDS ISLAMIC CENTRE</u></h3>
            <h4><u>Central Jamia Mosque</u></h4>
            <a href="#" class="btn pb-2">DONATION FOR MOSQUE</a>
        </div>
        <div class="col-12 col-md-5">
            <img src="https://res.cloudinary.com/dyqykmbvz/image/upload/v1678879549/static/images/minaret.fe93cb03dbf0.jpg"
                class="img-fluid px-0 d-md-none w-100" alt="mosque minarat image">
            <img src="https://res.cloudinary.com/dyqykmbvz/image/upload/v1678879549/static/images/minaret.fe93cb03dbf0.jpg"
                class="img-fluid px-0 d-none d-md-block d-lg-none w-75" alt="mosque minarat image">
            <img src="https://res.cloudinary.com/dyqykmbvz/image/upload/v1678879549/static/images/minaret.fe93cb03dbf0.jpg"
                class="img-fluid px-0 d-none d-lg-block w-50" alt="mosque minarat image">
        </div>
    </div>
</div>

{% endblock %}